[Unit]
Description=SSH authentication agent

[Service]
Environment=SSH_AUTH_SOCK=/run/user/1000/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a %t/ssh-agent.socket -D
Type=simple
Restart=always

[Install]
WantedBy=default.target